[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/ChOma"]
	path = 3rdparty/ChOma
	url = https://github.com/opa334/ChOma
[submodule "3rdparty/abseil-cpp"]
	path = 3rdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "3rdparty/binaryninja-api"]
	path = 3rdparty/binaryninja-api
	url = https://github.com/Vector35/binaryninja-api
[submodule "3rdparty/capstone"]
	path = 3rdparty/capstone
	url = https://github.com/capstone-engine/capstone
